body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; 
}
.ts-Img { 
 width: 350px;          
            height: auto;          
            border: 5px solid black; 
            border-radius: 30px; 
            padding: 1px;       
}

/* Media query for iPhones og sm å  enheter */ 
 @media only screen and (max-width: 768px) { 
   .background { 
     background-attachment: scroll; 
     height:100vh;     
}
}
img {
    max-width: 100%;
    height: auto; 
}

a {
    color: blue; 
    text-decoration: none; 
    transition: color 0.3s, background-color 0.3s; /* Smooth hover effect */
}

a:hover {       
    color: black; 
    background-color: yellow;
    text-decoration: underline; 
    font-weight: bold; 
}


h1 {
   margin-top: 20px; 
            color: grey;
            font-weight: 900;
            font-family: 'Cursive', sans-serif;
            font-size: 4.0em;
            text-align: center;
        }
 h2 , h3 {
   color: white; 
}
h4 {
      text-align: center; 
      color: blue;
}
p  {
   margin: 14px;
}
.button-link:hover {
    background-color: #0056b3;/* Mørk blå hover farge */ 
}




