body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* 'hidden' hindrer  ,'auto' tillater scrolling */
}
.ts-Img { 
 width: 350px;          
            height: auto;         
            border-radius: 40px; 
            padding: 1px;       
}
/* Media query for iPhones and smaller devices*/ 
 @media only screen and (max-width: 768px) { 
   .background { 
     background-attachment: scroll; /* Change to scroll for iPhones */
     height:100vh;     
}
 }
img {
    max-width: 100%; 
    height: auto; 
}
#photo {
    margin-top: 20px; 
}
.clickable-image {
    width: 100%; 
    max-width: 250px; /* for small devices */
    height: auto; 
    cursor: pointer; 
    transition: transform 0.2s; /* smoot transmist */
}

#image-container {
    display: flex; /* flexbox for layout */
    justify-content: center;
    gap: 30px; 
    margin: 20px; 
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('1.jpg'); /* mitt bakgrunnsbilde-path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   background-attachment: fixed; /* Add test Iphone,same as height 'vh' instead off 100% (line 25) */  
    z-index: -1; /* Bakgrunnsbildet bak alt annet */
}

a {
    color: blue; 
    text-decoration: none; /* Removes underline by default */
    transition: color 0.3s, background-color 0.3s; /* Smooth hover effect */
}
 /*I prefrere to make links clearly-visible in this script*/
a:hover {       
    color: black; 
    background-color: yellow; /* optional/valgfri*/
    text-decoration: underline; /* Optional, valgfri Underlilink */
    font-weight: bold; /* Optioal , valgfri */
}

h1 {
   color: red;  /*color:#333; Blyant-farge*,no,no*/
}
h2 {
    color: red;
}
h3 {
    color: blue;
}
h4 {
    color: red;
}
button {
    position: relative;
    z-index: 1; /* Sikrer at knappen vises over bakgrunnen */
    padding: 25px 35px;
    margin: 10px;
    cursor: pointer;
    background-color:white;
    border: none;
    border-radius: 10px;
}
.button-container {
    display: flex;
    gap: 30%; 
    justify-content: center; 
}
.button-link {
    display: inline-block; 
    padding: 10px 20px;
    margin: 0 10px; /* Horizontal spacing */
    background-color: #007BFF; /* Nice blue  */
    color: white; 
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.button-link:hover {
    background-color: #0056b3;/* Mørk blå hover farge */ 
}


